.contenedor {
  background-color: white;
  width: 100%;
  min-height: 100vh;
}

.centrarItems {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.centrarForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logouni {
  width: 300px;
  height: 300px;
}

@media (max-width: 1200px) {
  .logoConsultoria {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 974px) {
  .logoConsultoria {
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 783px) {
  .logoConsultoria {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .logoConsultoria {
    display: flex;
    width: 200px;
    height: 100px;
  }
}

@media (max-width: 600px) {
  .DrawerAdmin {
    display: flex;
    top: 230px;
    position: absolute;
  }
}
